<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
	<div class="header">
		<div class="banner">
			<h1 id="hotel">THE ROYAL COURT</h1>
		</div>
		<div class="navbar"> <!--Modified from sample navbar.html uploaded in Moodle-->
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li><a href="main">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="rooms">Rooms</a></li>
				<li><a href="reserve">Reserve</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	</div>
	
	<div class="content">
		<p>Whether you're in a pack, a pair or just playing solo, The Royal Court is the best place to lay off for a while. We offer only the best of the best state of the art facilities and high-quality services. Just say your bid and we'll follow suit. In our hands, you'll be living a life befitting for no less than a king and a queen! </p>
	</div>
	
  </body>
</html>
